<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Табло</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/board.css">
  </head>
  <body>
  <div id="app"></div>

  <script id="board-template" type="text/x-handlebars-template">
    <div class="header">
      <div class="team one">{{ teams.one }}</div>
      <div class="total-score">
        <div class="score-block">{{ score.round }}</div>
      </div>
      <div class="team two">{{ teams.two }}</div>
    </div>
    <div class="content">
      <div class="score-column left">
        <div class="score-block">{{ score.one }}</div>
      </div>
      <div class="mistake-column left">
        <div class="round-block">
          <div class="number">{{ currentRound }}</div>
        </div>
        <div class="mistake-block">
          <div class="mistake"></div>
          <div class="mistake"></div>
          <div class="mistake"></div>
        </div>
      </div>
      <div class="answers-column">
        {{#each rounds.0.answers}}
         <div class="flip-container" id="answer-{{@index}}">
          <div class="flipper">
            <div class="front">
              <img src="../assets/images/answer-{{@index}}.png">
            </div>
            <div class="back">
              <div class="answer">
                {{ title }}
                <span class="percent">{{ cost }}</span>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="mistake-column right">
        <div class="round-block">
          <div class="number">{{ currentRound }}</div>
        </div>
        <div class="mistake-block">
          <div class="mistake"></div>
          <div class="mistake"></div>
          <div class="mistake"></div>
        </div>
      </div>
      <div class="score-column right">
        <div class="score-block">{{ score.two }}</div>
      </div>
    </div>
    <div class="footer">
      <img src="../assets/images/logo.png" class="logo">
    </div>
  </script>

  <audio id="audio-open-answer" src="../assets/sounds/open_answer.mp3"></audio>
  <audio id="audio-wrong-answer" src="../assets/sounds/wrong_answer.mp3"></audio>

  <script>
    require('../assets/js/board.js')
  </script>
  </body>
</html>
