<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Табло</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/board.css">
  </head>
  <body>
  <div id="app"></div>

  <script id="board-template" type="text/x-handlebars-template">
    <div class="header">
      <div class="team one">{{ teams.one }}</div>
      <div class="total-score">
        <div class="score-block">{{ score.round }}</div>
      </div>
      <div class="team two">{{ teams.two }}</div>
    </div>
    <div class="content">
      <div class="score-column left">
        <div class="score-block">{{ score.one }}</div>
      </div>
      <div class="mistake-column left">
        <div class="round-block">
          <div class="number">{{ currentRound }}</div>
        </div>
        <div class="mistake-block">
          <div class="mistake"></div>
          <div class="mistake"></div>
          <div class="mistake"></div>
        </div>
      </div>
      <div class="answers-column">
        {{#each rounds.0.answers}}
        {{#if visible}}
        <div class="answer">
          {{ title }}
          <span class="percent">{{ cost }}</span>
        </div>
        {{else}}
        <div class="answer">
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="mistake-column right">
        <div class="round-block">
          <div class="number">{{ currentRound }}</div>
        </div>
        <div class="mistake-block">
          <div class="mistake"></div>
          <div class="mistake"></div>
          <div class="mistake"></div>
        </div>
      </div>
      <div class="score-column right">
        <div class="score-block">{{ score.two }}</div>
      </div>
    </div>
    <div class="footer">
      <img src="../assets/images/logo.png" class="logo">
    </div>
  </script>

  <script>
    require('../assets/js/board.js')
  </script>
  </body>
</html>
