<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Панель управления</title>
  <link rel="stylesheet" href="../assets/css/photon.min.css">
  <link rel="stylesheet" href="../assets/css/panel.css">
</head>
<body>
  <div class="window">
    <header class="toolbar toolbar-header">
      <div class="toolbar-actions">
        <button class="btn btn-default" id="open-team-one">
          Показать команду 1
        </button>
        <button class="btn btn-default" id="open-team-two">
          Показать команду 2
        </button>

        <button class="btn btn-default pull-right">
          <span class="icon icon-cog"></span>
        </button>
      </div>
    </header>

    <div class="window-content">
      <div class="padded-more" id="content"></div>
    </div>

    <footer class="toolbar toolbar-footer">
      <div class="toolbar-actions">
        <button class="btn btn-primary pull-right" id="next-round">
          Следующий раунд
        </button>
      </div>
    </footer>
  </div>

  <script id="round-template" type="text/x-handlebars-template">
    <button class="btn btn-default" id="open-answer-1">Гори!</button>
    <button class="btn btn-default" id="on-mistake-one-1">Сияй!</button>
  </script>

  <script>
    require('../assets/js/panel.js')
  </script>
</body>
</html>
