<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
    <link rel="stylesheet" href="../assets/css/semantic.min.css">
    <link rel="stylesheet" href="../assets/css/panel.css">
  </head>
  <body>
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui secondary pointing menu">
          <a class="active item">
            1 раунд
          </a>
          <a class="item">
            2 раунд
          </a>
          <a class="item">
            3 раунд
          </a>
          <a class="item">
            4 раунд
          </a>
        </div>
      </div>
    </div>

    <button class="ui button" id="button">Гори!</button>

    <script>
      require('../assets/js/panel.js')
    </script>
  </body>
</html>
