<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
    <link rel="stylesheet" href="../assets/css/semantic.min.css">
    <link rel="stylesheet" href="../assets/css/panel.css">
  </head>
  <body>
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui secondary pointing menu">
          <a class="active item">
            1 раунд
          </a>
          <a class="item">
            2 раунд
          </a>
          <a class="item">
            3 раунд
          </a>
          <a class="item">
            4 раунд
          </a>
        </div>
      </div>
    </div>

    <button class="ui button" id="open-team-one">Показать команду 1</button>
    <button class="ui button" id="open-team-two">Показать команду 2</button>

    <button class="ui button" id="open-answer-1">Гори!</button>
    <button class="ui button" id="on-mistake-one-1">Сияй!</button>
    <button class="ui button" id="next-round">Двигай!</button>

    <script>
      require('../assets/js/panel.js')
    </script>
  </body>
</html>
